@(request: FoundTicket)

@main("Ticket #" + request.number) {
    <h1>Ticket #@request.number: @request.title</h1>
    <h2>Details</h2>
    @request.properties.map { p =>
        <p>@p._1 - @p._2</p>
    }
    <h2>User Defined Fields</h2>
    @request.user_defined_fields.map { udf =>
        <p>@udf._1 - @udf._2</p>
    }
    <h3>Transactions (Oldest First)</h3>
    @request.transactions.map { t =>
        <h4>@t.who @t.time @t.department</h4>
        @t.memos.map { m =>
            <h5>@m.kind</h5>
            <p>@Html(m.content)</p>
        }
    }
}
