@(searchForm: Form[(Int, String)])
@import helper.twitterBootstrap._

@helper.form(routes.Application.get_ticket(), 'id-> "queryForm", 'class -> "") {
    @helper.input(searchForm("id")) { (id, name, value, args) =>
        <input type="number" name="@name" id="@id" autofocus="autofocus" class="span3 search-query"@toHtmlArgs(args)>
    }
    <button type="submit" name="lookup" value="Lookup" class="btn btn-primary">Lookup</button>
    <button type="submit" name="lookup" value="Email" class="btn">Email</button>

}